<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <center>
        <h1>
          <%= @meal.name %>
        </h1>
        <%= @meal.time.strftime( "%B %d, %Y at %I:%M %p" ) %>
      </center>
    </div>
  </div>

  <div class="col-md-6">

    <%= content_tag 'div', '', id: 'meal-search-map', class: 'map', data: { possible_restaurants: @meal.possible_restaurants.pluck( :place_id ) } %>

  </div>

  <div class="col-md-6">
    <h3>Possible Restaurants</h3>

    <div class="list-group">
      <%= render partial: 'possible_restaurant', collection: @meal.possible_restaurants %>
    </div>
  </div>

</div>

<% if @meal.organizer == current_user %>
  <%= form_for @meal.possible_meal_restaurants.new, html: { id: "new-possible-restaurant-form", class: "hidden" } do |f| %>
    <%= hidden_field_tag :meal_id, @meal.id %>
    <%= hidden_field_tag :place_id, '', id: "new-possible-restaurant-place-id-input" %>
    <%= f.submit "Add Possible Restaurant", class: "btn btn-link" %>
  <% end %>
<% end %>