<div class="row">

  <div class="col-md-12">
    <div class="well">
      <center>

        <h1>
          <%= @meal.name %>
          <% if @meal.restaurant.present? %>
            <small>at</small>
            <%= link_to_if @meal.restaurant.link.present?, @meal.restaurant.name, @meal.restaurant.link %>
          <% end %>
        </h1>

        <%= content_tag :p, @meal.time.strftime( "%B %d, %Y at %I:%M %p" ) %>

      </center>

      <% if @meal.organizer == current_user %>
        <div class="dropdown meal-options-dropdown">
          <a id="meal-options-dropdown" href="#" class="btn btn-sm btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu pull-right" aria-labelledby="meal-options-dropdown">
            <% if @meal.restaurant.present? %>
              <li>
                <%= link_to 'Clear Meal Restaurant', meal_path( @meal, meal: { restaurant_id: nil } ), method: :patch %>
              </li>
            <% end %>
            <li><%= link_to 'Edit Meal', edit_meal_path( @meal ) %></li>
            <li><%= link_to 'Delete Meal', @meal, method: :delete %></li>
          </ul>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-md-5">
    <%= content_tag 'div', '', id: 'meal-search-map', class: 'map', data: { possible_restaurants: @meal.possible_restaurants.map { |possible_restaurant| possible_restaurant.place } } %>
  </div>

  <div class="col-md-4">
    <h3>Possible Restaurants</h3>

    <%= render 'possible_restaurants' %>
  </div>

  <div class="col-md-3">
    <h3>Attendees</h3>

    <%= render 'attendees' %>

    <% if @meal.organizer == current_user %>
      <%= form_tag @meal, method: :get, remote: true do %>
        <div class="input-group">
          <%= text_field_tag :attendee_search, params[ :attendee_search ], class: 'form-control', placeholder: 'Search for new attendee...' %>
          <span class="input-group-btn">
            <%= button_tag type: 'search', name: nil, class: 'btn btn-default', title: 'Search for Attendee' do %>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <% end %>
          </span>
        </div>
      <% end %>

      <%= render 'search_attendees' %>

    <% end %>

  </div>

</div>


<% if @meal.organizer == current_user %>
  <%= form_for @meal.possible_meal_restaurants.new, remote: true, html: { id: "new-possible-restaurant-form", class: "hidden" } do |f| %>
    <%= hidden_field_tag :meal_id, @meal.id %>
    <%= hidden_field_tag :place_id, '', id: "new-possible-restaurant-place-id-input" %>
    <%= f.submit "Add Possible Restaurant", class: "btn btn-link" %>
  <% end %>
<% end %>